In [1]:
import pandas as pd

metadata_file_path = (r"C:\Users\Emiliano\Desktop\CodigosTesis\Training\Training\metadata\metadata.csv")
metadata_df = pd.read_csv(metadata_file_path)

taxonomy_file_path = (r'C:\Users\Emiliano\Desktop\CodigosTesis\Training\Training\taxonomy\taxonomy_relabd.species.csv')
taxonomy_df = pd.read_csv(taxonomy_file_path)


nih_racial_categories_unique = metadata_df['NIH Racial Category'].unique()

nih_racial_bacteria_summary = {}


for category in nih_racial_categories_unique:
    category_df = metadata_df[metadata_df['NIH Racial Category'] == category]
    filtered_taxonomy_df = taxonomy_df[taxonomy_df['specimen'].isin(category_df['specimen'])]
    most_common_bacteria = filtered_taxonomy_df.iloc[:, 1:].mean().sort_values(ascending=False).head(10)
    nih_racial_bacteria_summary[category] = most_common_bacteria


nih_racial_bacteria_summary_df = pd.DataFrame(nih_racial_bacteria_summary)


for category in nih_racial_bacteria_summary_df.columns:
    print(f"NIH Racial Category: {category}")
    display(nih_racial_bacteria_summary_df[category].to_frame().style.format("{:.2%}").set_caption(f"Most Common Bacteria for {category}"))
    print("\n")

NIH Racial Category: American Indian or Alaska Native

NIH Racial Category: White

NIH Racial Category: Asian

NIH Racial Category: Native Hawaiian or Other Pacific Islander

NIH Racial Category: Black or African American

NIH Racial Category: Unknown